In [16]:
import sqlite3
import pandas as pd

# Connect to your SQLite database
conn = sqlite3.connect('../receipts-app/prisma/dev.db')

In [17]:
# Get a list of all tables in the database
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
print(tables)

              name
0          Receipt
1  sqlite_sequence
2          Expense
3        ImageFile
4    ReferenceItem
5      ReceiptText

In [18]:
# Read a specific table into a DataFrame
query = "SELECT * FROM ReceiptText"
df = pd.read_sql_query(query, conn)

# Print the DataFrame
print(df)

                                           boundingBox  \
0    [[np.int32(141), np.int32(101)], [np.int32(619...
1    [[np.int32(87), np.int32(232)], [np.int32(594)...
2    [[np.int32(179), np.int32(270)], [np.int32(499...
3    [[np.int32(103), np.int32(304)], [np.int32(237...
4    [[np.int32(245), np.int32(309)], [np.int32(265...
..                                                 ...
218  [[np.int32(217), np.int32(3863)], [np.int32(27...
219  [[np.int32(308), np.int32(3863)], [np.int32(41...
220  [[np.int32(421), np.int32(3869)], [np.int32(60...
221  [[np.float64(150.34478822279527), np.float64(4...
222  [[np.float64(160.9563638994289), np.float64(12...

                                   text imageFileId
0                              IFRESHCO         123
1    CARLETON PLACE LANSDOWNE FRESHCO _         123
2                  110 Lansdowne Avenue         123
3                             Car Ieton         123
4                                     P         123
..                                  ...         ...
218                                 COD         123
219                             Nuaalcc         123
220                         To Uti Ccoo         123
221                                card         123
222                                 Yog         123

[223 rows x 3 columns]

In [19]:
conn.close()

Didn't work great, issues with primary key autoincrement, don't want to break ORM on front-end